# DeepSeek（Agent 主模型）
DEEPSEEK_API_KEY={your_api_key}
DEEPSEEK_BASE_URL=https://api.deepseek.com
DEEPSEEK_MODEL=deepseek-chat

# OpenAI（Embedding 模型，用于知识库 & RAG 检索） 此处也可用国内符合openAI规范的的词嵌入模型代替
OPENAI_API_KEY={your_api_key}
OPENAI_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
EMBEDDING_MODEL=text-embedding-v4
